<div style="margin-top: 60px"></div>
<div class="container">
    <h1>Welcome to BestCode</h1>
    <div class="row">
        <div class="col-md-8">
            <h3>最近の更新</h3>
            <ul class="media-list">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-left" src="https://pbs.twimg.com/profile_images/635138131910483969/qubzD1WV.jpg" style="width: 100px; height: 100px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">RubyOnRailsでブログサービスを作りたいです。</h4>
                        Rails初心者なのですが、独学でブログサービスを作ってみました。ただ、モデルとコントローラーの作り方が適切かわからないので、皆さんのお手本を教えていただけると助かります。
                    </div>
                </li>
                <hr>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-left" src="https://pbs.twimg.com/profile_images/635138131910483969/qubzD1WV.jpg" style="width: 100px; height: 100px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">RubyOnRailsでブログサービスを作りたいです。</h4>
                        Rails初心者なのですが、独学でブログサービスを作ってみました。ただ、モデルとコントローラーの作り方が適切かわからないので、皆さんのお手本を教えていただけると助かります。
                    </div>
                </li>
                <hr>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-left" src="https://pbs.twimg.com/profile_images/635138131910483969/qubzD1WV.jpg" style="width: 100px; height: 100px">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">RubyOnRailsでブログサービスを作りたいです。</h4>
                        Rails初心者なのですが、独学でブログサービスを作ってみました。ただ、モデルとコントローラーの作り方が適切かわからないので、皆さんのお手本を教えていただけると助かります。
                    </div>
                </li>
                <hr>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="popular_tags panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        人気のタグ
                    </h1>

                </div>
                <div class="list-group">
                    <a class="list-group-item" href="">#リーダブル</a>
                    <a class="list-group-item" href="">#再利用性</a>
                    <a class="list-group-item" href="">#php</a>
                    <a class="list-group-item" href="">#ruby</a>
                </div>
            </div>
            <div class="user_ranking panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        ユーザーランキング(総合)
                    </h1>
                </div>
                <div class="list-group">
                    <a class="list-group-item" href="">1位 わんわん</a>
                    <a class="list-group-item" href="">2位 むら</a>
                    <a class="list-group-item" href="">3位 ひかるちゃん</a>
                    <a class="list-group-item" href="">4位 桑古</a>
                    <a class="list-group-item" href="">5位 藤本</a>
                </div>
            </div>
        </div>

    </div>
</div>
