<div style="margin-top: 60px"></div>
<div class="container">
    <h1>Welcome to BestCode</h1>
    <div class="row">
        <div class="col-md-8">
            <h3>最近の更新</h3>
            <ul class="media-list">
                <% @questions.each do |question| %>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-left" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/v/t1.0-1/p160x160/10629679_356735574483560_1912145069612148987_n.jpg?oh=a993024d2331f2ed4cb075f2d4f5bde4&oe=56D19DAC&__gda__=1451762437_797b28cf328e263cfd6f8751cad3dd0d" style="width: 100px; height: 100px">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="/questions/<%= question.id %>"><%= question.title %></a></h4>
                            <%= question.description %>
                        </div>
                    </li>
                    <hr>
                <% end %>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="popular_tags panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        人気のタグ
                    </h1>

                </div>
                <div class="list-group">
                    <a class="list-group-item" href="">#リーダブル</a>
                    <a class="list-group-item" href="">#再利用性</a>
                    <a class="list-group-item" href="">#php</a>
                    <a class="list-group-item" href="">#ruby</a>
                </div>
            </div>
            <div class="user_ranking panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        ユーザーランキング
                    </h1>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">総合</a></li>
                    <li><a href="#tab2" data-toggle="tab" aria-expanded="false">可読性</a></li>
                    <li><a href="#tab3" data-toggle="tab" aria-expanded="false">スピード</a></li>
                    <li><a href="#tab4" data-toggle="tab" aria-expanded="false">再利用性</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="list-group">
                            <a class="list-group-item" href="/user/1">1位 わんわん</a>
                            <a class="list-group-item" href="">2位 むら</a>
                            <a class="list-group-item" href="">3位 ひかるちゃん</a>
                            <a class="list-group-item" href="">4位 桑古</a>
                            <a class="list-group-item" href="">5位 藤本</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="list-group">
                            <a class="list-group-item" href="">1位 岩槻さん</a>
                            <a class="list-group-item" href="">2位 近藤さん</a>
                            <a class="list-group-item" href="">3位 寺尾さん</a>
                            <a class="list-group-item" href="">4位 仙石さん</a>
                            <a class="list-group-item" href="">5位 小羽田</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3">
                        <div class="list-group">
                            <a class="list-group-item" href="">1位 TOM</a>
                            <a class="list-group-item" href="">2位 James</a>
                            <a class="list-group-item" href="">3位 Lina</a>
                            <a class="list-group-item" href="">4位 Tailer</a>
                            <a class="list-group-item" href="">5位 hoge</a>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4">
                        <div class="list-group">
                            <a class="list-group-item" href="">1位 個の成長</a>
                            <a class="list-group-item" href="">2位 関係者全員の幸福の追求</a>
                            <a class="list-group-item" href="">3位 顧客の創造の維持</a>
                            <a class="list-group-item" href="">4位 ノアの方舟</a>
                            <a class="list-group-item" href="">5位 ヒカリエ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
