<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
		      <div class="navbar-header">
					        <a class="navbar-brand">Best Code</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar-menu">
						<form class="navbar-form" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="入力してください">
							</div>
							<button type="submit" class="btn btn-default">検索</button>
							<span class="badge badge-success">2</span>
							<button type="button" class="btn btn-success">質問する！</button>
							<button class="btn btn-primary navbar-right"><i class="glyphicon glyphicon-home"></i> UserName</button>
						</form>
					</div>
		</div>
</nav>
